[package]
name = "db"
version = "0.1.0"
edition = "2024"
build = "build.rs"

[lib]
crate-type = ["cdylib"]

[dependencies]
deadpool-postgres = "0.14.1"
napi = "3.6.1"
napi-derive = "3.4.0"
tokio-postgres = "0.7.15"

[build-dependencies]
napi-build = "2.3.1"
